/* #click-to-hide{
  display: none;
} */

#click-to-hide img{
  width: 500px;
}

.clickable:hover {
  text-decoration: underline;
  /* cursor: pointer;
  color: blue; */
}

#button-div {
  padding-left: 10%;
  padding-top: 10%;
}
